<div class="card">    
    <div class="card-header">
        <p style="text-align:center;"><b>Select category</b></p>
        <EditForm Model="@Category">
            <InputSelect id="category" class="form-select" @bind-Value="@Category.Category">
              @*  <option value="0" selected="selected">Categories list</option>*@
                @foreach (var category in Categories!)
                    {
                        <option value="@category.Id">@category.Category</option>
                    }
        </InputSelect>
    </EditForm>
    </div>
    <div class="card-header">

        <EditForm Model="@NewCategory" OnValidSubmit="@AddCategory" OnInvalidSubmit="@Invalid">
            <DataAnnotationsValidator />
           @if (Fail == false)
            {
                <div class="alert @Status">
                    <p>Fix errors and try again.</p>
                    <ValidationSummary/>
                </div>
            }
            @if(Success == true)
            {
                <div class="alert @Status">
                    <p>Great, we will check your suggestion and add it soon.</p>
                </div>    
                
                
            }
            <p><InputText id="categoryName" class="form-control" placeholder="No category you are interested? Send us a suggestion!" @bind-Value="@NewCategory.Category"></InputText></p>
            <ValidationMessage For="@(()=>NewCategory.Category)" />

            <p><button type="submit" class="btn btn-success">Add category</button></p>
        </EditForm>
    </div>
</div>

