<div class="card">
            <div class="card-header">
                <p style="text-align:center; font-weight:bold;">New Post</p>
            </div>
            <div class="card-body">
                <EditForm Model="@Post" OnValidSubmit="@AddPost" OnInvalidSubmit="@Invalid">
                <DataAnnotationsValidator />
                <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
                    @if(Success == true)
                    {
                        <div class="alert @Status">
                    <p>Your entry must be reviewed by administrator.</p>
                        </div>
                    }

                    <p><InputText name="title" class="form-control" placeholder="Post title" @bind-Value="@Post.Title"></InputText></p>
                    <p><InputTextArea name="description" class="form-control" placeholder="Post description" @bind-Value="@Post.Description"></InputTextArea></p>
                    <p><InputText name="author" class="form-control" placeholder="Nick" @bind-Value="@Post.Author"></InputText></p>
                    <p>
                        <InputSelect id="category" class="form-select" @bind-Value="@Post.Category">
                            <option value="0" selected="selected">Categories list</option>
                            @foreach (var category in Categories!)
                            {
                                <option value="@category.Category">@category.Category</option>
                                
                            }
                        </InputSelect>
                    </p>
                <ValidationMessage For="@(()=>Post.Title)" />

                <p><button type="submit" class="btn btn-success">Post</button></p>
                </EditForm>
            </div>
            </div>