<div class="row">
    <div class="col">
        <div class="card">
       <div class="card-header">
            <p style="text-align:center; font-weight:bold;">New Post</p>
                </div>
                <div class="card-body">

                   <form method="post">
    <div class="form-group">
        <input name="title" class="form-control" placeholder="Type title here.." /><hr />
    </div>
  <div class="form-group">
    <textarea class="form-control" name="description" rows="3" placeholder="Type text here.."></textarea> <hr />
  </div>
    <div class="form-group">
        <input name="author" class="form-control" placeholder="Type your nick here.." /><hr />
    </div>
          <select class="form-select" name="category" ></select>
    <div class="py-2">
        <button type="submit" class="btn btn-primary">Post</button>

    </div>
</form> 
<hr />
</div>
</div></div>
    <div class="col">

        <div class="card">
            <div class="card-header">
                <p style="text-align:center; font-weight:bold;">New Post</p>
            </div>
            <div class="card-body">
                        <EditForm Model="@Post" OnValidSubmit="@AddPost" OnInvalidSubmit="@Invalid">
                <DataAnnotationsValidator />
                <ValidationSummary />

                    <p><InputText name="title" class="form-control" placeholder="Post title" @bind-Value="@Post.Title"></InputText></p>
                    <p><InputTextArea name="title" class="form-control" placeholder="Post description" @bind-Value="@Post.Description"></InputTextArea></p>
                    <p><InputText name="title" class="form-control" placeholder="Nick" @bind-Value="@Post.Author"></InputText></p>
                    <p>
                        <InputSelect id="category" class="form-select" @bind-Value="@Post.Category">
                            <option value="0" selected="selected">Categories list</option>
                            @foreach (var category in Categories!)
                            {
                                <option value="@category.Category">@category.Category</option>
                                
                            }
                        </InputSelect>
                    </p>
                <ValidationMessage For="@(()=>Post.Title)" />

                <p><button type="submit" class="btn btn-success">Post</button></p>
                </EditForm>
            </div>
            </div>
    </div>
</div>