@foreach(var post in Posts!){
 
<div class="col-md-12">
<div class="card">
            <div class="card-header">
               <div class="row">
                   <div class="col" style="text-align:center; font-weight:bold;">Post</div>
                        <div class="col" style="text-align:center; font-weight:bold;">Most popular comments</div>
               </div>
            </div>
<div class="row">
        <div class="col">
            <div class="card-body">
                      <div class="card-text">
                        <p><b>Title: </b> @post.Title</p>
                        <p> <b>Description: </b> @post.Description</p>
                        <p> <b>Nick: </b> @post.Author</p>
                        <p> <b>Category: </b> @post.Category</p>
                        <p> <b>Created: </b> @post.CreationTime</p>
                      </div>
                        <form method="post">
                                <EditForm Model="@Comment" OnValidSubmit="@OnValidComment" OnInvalidSubmit="@OnInvalidComment">
                                    <DataAnnotationsValidator />
                                    <ValidationSummary />
                                    <div class="row">
                                        <div class="col-md-6">
                                        <p> <InputText type="text" class="form-control" placeholder="Your comment" id="comment" @bind-Value="@Comment.CommentDescription"></InputText></p>
                                            <ValidationMessage For="@(()=>Comment.CommentDescription)" />
                                        </div>

                                        <div class="col-md-6">
                                        <p> <InputText type="text" class="form-control" placeholder="Your nick" id="name" @bind-Value="@Comment.CommentAuthor"></InputText></p>
                                            <ValidationMessage For="@(()=>Comment.CommentAuthor)" />
                                        </div>
                                    </div>

                                    <p><button type="submit" class="btn btn-success">Add comment</button></p>
                                </EditForm>
                        </form>
             
                        <!-- Modal -->
                        <form method="get">
                            <div class="py-2">
                              <button type="button" data-bs-target="#Modal_@post.Id" name="Id" value="@post.Id" class="btn btn-primary" data-bs-toggle="modal">Show all comments</button>
                            </div>
                        </form>
                        <div class="modal fade" id="Modal_@post.Id" tabindex="-1" aria-hidden="true">

                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        @foreach(var comment in Comments!)
                                        {
                                            <p>@comment.CommentDescription</p>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
            </div>
        </div>
        <div class="col" style="padding:30px;">
                    @foreach(var comment in Comments!)
                    {

                        <div class="well" style="background-color:lightgray;"><p style="padding:3px;">@comment.CommentDescription</p></div>
                    }
                </div>

                
</div>

</div>
</div>
}