@page "/admin"

<center><h1>Admin approval page</h1></center>


<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#postCollapse" aria-expanded="false" aria-controls="collapseExample">
        Posts
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#commentsCollapse" aria-expanded="false" aria-controls="collapseExample">
       Comments
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesCollapse" aria-expanded="false" aria-controls="collapseExample">
       Categories
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#mediaCollapse" aria-expanded="false" aria-controls="collapseExample">
        Media
    </button>
</p>
<div class="collapse" id="postCollapse">
    <div class="card card-body">
        @foreach (var post in Posts!.Where(x => x.IsVerified == false))
        {
            <p>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col" style="text-align:center; font-weight:bold;">Not approved posts</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card-text">
                                                <p><b>Title: </b> @post.Title</p>
                                                <p> <b>Description: </b> @post.Description</p>
                                                <p> <b>Nick: </b> @post.Author</p>
                                                <p> <b>Category: </b> @post.Category</p>
                                                <p> <b>Created: </b> @post.CreationTime</p>
                                            </div>
                                        </div>
                                    </div>
                                    <EditForm Model="@Post" style="text-align:center;">
                                        <button type="button" class="btn btn-success" @onclick="@(() => Accept(post.Id,post.GetType()))">Accept</button>
                                        <button type="button" class="btn btn-danger" @onclick="@(() => Deny(post.Id,post.GetType()))">Reject</button>
                                    </EditForm>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </p>

        }
    </div>
</div>

<div class="collapse" id="commentsCollapse">
    <div class="card card-body">
        @foreach (var comment in Comments!.Where(x=>x.IsVerified == false))
        {
            <p>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col" style="text-align:center; font-weight:bold;">Not approved comment</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card-text">
                                                <p><b>Comment: </b> @comment.CommentDescription</p>
                                                <p> <b>Author: </b> @comment.CommentAuthor</p>
                                                <p> <b>Creation time: </b> @comment.CreationTime</p>
                                                <p> <b>Post ID: </b> @comment.PostId</p>
                                            </div>
                                        </div>
                                    </div>
                                    <EditForm Model="@Comment" style="text-align:center;">
                                        <button type="button" class="btn btn-success" @onclick="@(() => Accept(comment.Id,comment.GetType()))">Accept</button>
                                        <button type="button" class="btn btn-danger" @onclick="@(() => Deny(comment.Id,comment.GetType()))">Reject</button>
                                    </EditForm>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </p>
        }   
    </div>
</div>

<div class="collapse" id="categoriesCollapse">
    <div class="card card-body">
        @foreach (var category in Categories!)
        {
                <p>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col" style="text-align:center; font-weight:bold;">Not approved category</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="card-text">
                                                <p><b>Id: </b> @category.Id</p>
                                                <p> <b>Category: </b> @category.Category</p>
                                                </div>
                                            </div>
                                        </div>
                                    <EditForm Model="@Category" style="text-align:center;">
                                        <button type="button" class="btn btn-success" @onclick="@(() => Accept(category.Id,category.GetType()))">Accept</button>
                                        <button type="button" class="btn btn-danger" @onclick="@(() => Deny(category.Id,category.GetType()))">Reject</button>
                                    </EditForm>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </p>
        }   
    </div>
</div>

<div class="collapse" id="mediaCollapse">
    <div class="card card-body">
        <div class="card">
            <div class="card-header">
                <center><b>Not approved images</b></center>
            </div>
            <div class="card-body">
                <center>
                    @if (Gallery!.Count() == 0)
                    {
                        <center><p class="card-body"><h1>Empty</h1></p></center>
                    }
                    else
                        @foreach (var item in Gallery!)
                        {
                            <div class="card">

                                <div class="card-body">
                                    <a target="_blank" href="/gallery/@item.ImageFileName">
                                        <img src="/gallery/@item.ImageFileName" class="responsive">
                                    </a><br/>
                                    <EditForm Model="@GalleryItem" style="text-align:center;">
                                       <button type="button" class="btn btn-success" @onclick="@(() => Accept(item.Id,item.GetType()))">Accept</button>
                                        <button type="button" class="btn btn-danger" @onclick="@(() => Deny(item.Id,item.GetType()))">Reject</button>
                                    </EditForm>
                                </div>
                            </div>
                        }
                </center>
            </div><br />
        </div>
    </div>
</div>
