<div class="card">
                <div class="card-header">
                    <center><b>Share your site with our community!</b></center>
                </div>
    <div class="card-body">
        <EditForm Model="@Website" OnValidSubmit="@ValidRequest" OnInvalidSubmit="@InvalidRequest">
            <DataAnnotationsValidator />
            <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
            @if (Success == true)
            {
                <div class="alert @Status">
                    <p>Your entry must be reviewed by administrator.</p>
                </div>
            }
            <p>
                <Microsoft.AspNetCore.Components.Forms.InputText name="title" class="form-control" placeholder="Website URL" @bind-Value="@Website.WWW"></Microsoft.AspNetCore.Components.Forms.InputText>
                <ValidationMessage For="@(()=>Website.WWW)" />
            </p>
            <p>
                <Microsoft.AspNetCore.Components.Forms.InputTextArea name="title" class="form-control" placeholder="Post description" @bind-Value="@Website.Description"></Microsoft.AspNetCore.Components.Forms.InputTextArea>
                <ValidationMessage For="@(()=>Website.Description)" />
            </p>
            <p><button type="submit" class="btn btn-success">Post</button></p>
        </EditForm>
    </div>
</div>

    @foreach(var entry in Websites!)
    {
        <br><li class="list-group-item list-group-item-success"><b>@entry.WWW</b> - @entry.Description</li>
    }